
body {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}

.table {
    font-size: 2em;
    padding: 0em;
}

.borderTdActive {
    /*border: solid 3px black;*/
    background-color: lightskyblue;
}